@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazirmatn-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  }

  