
@media (min-width: 576px) { 
    .result-card__definition {
        font-size: 1.5rem;
      }
      
      .result-card__translation {
     font-size: 1.7rem;
      }
      .phonetics__ipa {
        font-size: 1.2rem;
      }
      .result-card__pos {
        font-size: 1.1rem;
      }
      
      .result-card__example {
        font-size: 1.2rem;
      }
}


@media (min-width: 768px) { 
    .result-card__definition {
        font-size: 1.6rem;
      }
      
      .result-card__translation {
     font-size: 1.8rem;
      }
      .phonetics__ipa {
        font-size: 1.4rem;
      }
      .result-card__pos {
        font-size: 1.3rem;
      }
      
      .result-card__example {
        font-size: 1.3rem;
      }
 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

 }


@media (min-width: 1400px) { 

 }